<div class="row">
    <div class="col-lg-12">
        <h1>Chapter 4 Practicals (1,2 and 3) - Business Layer Development</h1><br />
        <h2>You are using this web project to develop Post(), Get(id), Put() and Delete() method for Students Web API controller.</h2>
        <ul>
            <li>You Do Not Need to generate Migration Files. I have prepared it. You use them to recreate the tables in the database.</li>
            <li>This is the <b>LAST</b> practical on server-side. The practicals after this involve <b>Client-side JavaScript with AJAX</b>.</li>
        </ul>
        <article class="typesettings sans-serif" style="font-size:12pt;">
            <section>
                <h2 style="color:hotpink">Chapter 4 - Business Layer Development</h2>
                <p>
                    <ul>
                        <li>Study Chapter 4 <b>because</b> it has more detailed explanation on what you are doing in practicals.</li>
                        <li>Read Chapter 5, 6, 7 and 8 <b>because</b> it gives you full overview on how this Post(), Get(id), Put() and Delete() etc works for client-side JavaScript.</li>
                    </ul>
                </p>
            </section>
        </article>
        <article class="typesettings sans-serif" style="font-size:12pt;">
            <section>
                <div>
                    <ul>
                        <li>
                            Install <a target="_blank" style="color:hotpink" href="https://www.getpostman.com/docs/introduction">Postman</a>. It is a tool to test your methods in API web controllers.
                        </li>
                        <li>
                            <span style="color:hotpink">Allocate <em>3 hours</em> to finish the practical 1 to 3.</span>
                        </li>
                        <li>
                            <span style="color:hotpink">The concept is crucial because you are going to work on client-side JavaScript jQuery AJAX to call these methods.</span>
                        </li>
                    </ul>
                </div>
            </section>
        </article>

  
                    <div style="height:100px">
                        <img style="float: left; margin: 0px 15px 15px 0px;" src="~/images/API_Folder.jpg" />
                        <div> I have prepared two working Web API Controller class, <font style="font-family:sans-serif;font-weight:bold;">Companies</font> and <font style="font-family:sans-serif;font-weight:bold;">CompanyTypes</font> so that you can make comparisons and reflections.</div>
                    </div>
                    <div>
                        <img style="float: left; margin: 0px 15px 15px 0px;" src="~/images/CompanyAndCompanyTypeTable.jpg" />
                        <div>The Web API controllers (done by me) works with the <em>Company and CompanyType</em> table</div>
                    </div>
 






    </div> <!-- end of div element with class col-lg-12-->
</div><!-- end of div element with class row-->
