<div class="row">
  <div class="col-lg-12">
			<h1>Practical 03 - Business Layer Development - Fundamentals</h1>
			<article class="typesettings sans-serif"  style="font-size:12pt;">
				<section>
					<h2  style="color:hotpink">Your first step - Give Chapter 3 your attention (3 hours)</h2>
					<p>
						Study Chapter 3 <b>Business Layer Development - Fundamentals</b> carefully by trying out the experimental exercises in the chapter.
					</p>
				</section>
				</article>
				<article class="typesettings sans-serif" style="font-size:12pt;">
					<section>
						<aside>I guarantee 100% you will see these questions <u>again</u> in your Mid-Term written test. Cross my heart, Hope to die</aside>
						<h2 style="color:hotpink">Your second step <br />Finish the 3 exercises which involves coding :  (3 hours) </h2>
						<p>
							<ul>
								<li>Get() method <mark>Students Web API controller class</mark></li>
								<li>GetStudentsGroupByCourse() method <mark class="sans-serif">Students Web API controller class</mark></li>
								<li>GetCoursesForControls() method <mark class="sans-serif">Courses Web API controller class</mark></li>
							</ul>
						</p>
					</section>
					</article>
			<article class="typesettings sans-serif"  style="font-size:12pt;">
				<section>
				<aside>The points you scored for the Quiz will be contributed to the Assignment CA1 scoreboard:)</aside>
					<h2  style="color:hotpink">Your third step <br />Give a shot at the Quiz in the ESP site  (1 hour)</h2>

					<p>
						The link for the Quiz should be somewhere lying around in the same place you downloaded this project. Good luck.
					</p>
				</section>
			</article>
				
				

</div> <!-- end of div element with class col-lg-12-->
</div><!-- end of div element with class row-->

